################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/streamable-api/.vs
/streamable-api/bin/Debug/net7.0
/streamable-api/obj
